body
{
background-color: #70B8FF;
margin-left: 5%;
margin-right: 5%;
}

h1, h2, h3
{
color: black;
font-family: Verdana, Geneva, Tahoma, sans-serif;
text-decoration: underline;
text-align: center;
}

#mainText{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.fullWidthContent{
    width: 100%;
}

a{
    font-size: 35px;
}

.anchorLarge{
    color: black;
    font-size: 35px;
    padding: 80px;
}
